body {
  background-color: rgba(228, 228, 228, 0.555);
}

.weather {
  background-image: url("assest/image/1.jpg");
}

.head {
  font-weight: 700;
  margin: 0.5em !important;
}
.input {
  width: 33% !important;
  margin-right: 0.2em;
}
.card1 {
  margin: auto;
  justify-content: center;
  color: aliceblue;
  /* align-items: center; */
}
.cityhead {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}
th {
  width: 1% !important;
  font-weight: 800;
  text-align: center;
}
td {
  width: 3% !important;
  text-align: center;
}
.x {
  border: 1px solid;
  border-color: #96d4d4;
  border-radius: 10px;
}
table {
  table-layout: fixed;
}
@media (max-width: 544px) {
  td {
    font-size: 0.3rem;
    text-align: center;
    /* overflow-x: scroll; */
  }
  th {
    font-size: 0.5rem;
    font-weight: 800;
    text-align: center;
  }
  .tabledata {
    overflow: scroll;
  }
}
.table {
  background-color: white;
}
.footer {
  text-align: center;
  font-size: small;
}
