body{
    background-color: black;
}
.Heading {
    text-align: center;
    color: lightskyblue;
    font-size: xx-large;
    margin: 0%;
    font-weight: bold;
    font-family: cursive;
}

.inputs {
    text-align: center;
    color: white;
}

.wrapper {
    background-color: aqua;
    margin: 0%;
    text-align: center;
    font-family: cursive;
    border-radius: 10px;
}
.cityinput{
    width: 100px;
}